.eweek-h1 {
	font-family: 'Fira Sans', sans-serif;	
	color: #e65231;
	font-weight: bold;
	padding-top: 1em;
	
}
.eweek-title {
	font-family: 'Fira Sans', sans-serif;	
	color: #e65231;
	font-weight: bold;
}
.eweek-subtitle {
	font-family: 'Fira Sans', sans-serif;
	font-size: 25pt;
	color: #e65231;
	font-weight: bold;
	padding-top: .5em;
}
.eweek-h2 {
	font-family: 'Fira Sans', sans-serif;
	font-size: 14pt;
	color: #e65231;
	font-weight: bold;
	padding-top: 1em;
}

.eweek-body {
	font-family: 'Fira Sans', sans-serif;
	color: #e65231;
	font-weight: bold;
	padding-top: .5em;
}

.eweek-body:hover {
	color: black;
}

.eweek-everyone {
	color: #e59d8a;
}

.eweek-everyone:hover {
	color: #e65231;
	text-decoration: none;
}

.eweek-li2 {
	color: #111111;
}

.eweek-li3 {
	color: #806b8c;
}

.eweek-li4 {
	color: #731ac1;
}

.eweek-li5 {
	color: #e8c456;
}

.eweek-corp {
	color: #101dc1;
}

.eweek-corp:hover {
	color: #e65231;
	text-decoration: none;
}

.eweek-health {
	color: #6477ab;
}

.eweek-health:hover {
	color: #e65231;
	text-decoration: none;
}

.eweek-li8 {
	color: #806b8c
}

.eweek-design {
	color: #1d0f63;
}

.eweek-design:hover {
	color: #e65231;
	text-decoration: none;
}

.eweek-tech {
	color: #bf862b;
}

.eweek-tech:hover {
	color: #e65231;
	text-decoration: none;
}

.eweek-bg {
	background-color: #f3e2c5;
}

.eweek-navbar {
	background-color: #f3e2c5;
}

.eweek-navbar:hover {
	color: #e65231;
	text-decoration: none;
}

.eweek-navbar-item {
	font-family: 'Fira Sans', sans-serif;	
	color: #e65231;
}

.eweek-download-btn {
	margin-top: 1em;
	margin-bottom: 1em;
	color: #f3e2c5;
	font-family: 'Fira Sans', sans-serif;	
	background-color: #e65231;
	border-radius: 0;
}

.eweek-download-btn:hover {
	color: #e65231;
	background-color: #f3e2c5;
	outline-color: #e65231;
	outline-style: solid;

}


